*{
    box-sizing: border-box;
}
html, body {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.header{
    background-color: darkslategrey;
    text-align: center;
    color: white;
    padding: 10px;
}

.nav{
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 3%;
    
}
.about-me img{
    max-width: 100px;
}
.about-me {
    float: right;
    padding: 3%;
    text-align: center;
    color: whitesmoke;

}

.projects img{
    max-width: 500px;
    
}

.projects{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: black;
    text-align: center;
    color: white;
    padding: 3%;
}

.projects img{
    size-adjust: 50%;
}

.aside {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 3%;
    color: whitesmoke;
    background-color: red;
}

.footer {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    color: aliceblue;
   
}

body {
    background-color: black;
}

@media screen and (max-width: 500px) {
    .nav {  
      flex-direction: column;
    }

    .aside {
        background-color: blue;
    }
}
