*{
    box-sizing: border-box;
}
html, body {
    display: flex;
    height: 100%;
    flex-direction: column;

/* top of the page. presents information on the site */
}
.header{
    background-color: darkslategrey;
    text-align: center;
    color: white;
    padding: 10px;
}
/* navigation bar with active buttoms */
.nav{
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 3%;
/*set the size of the picture in about me section of page */
}
.about-me img{
    max-width: 100px;
}
.about-me {
    float: right;
    padding: 3%;
    text-align: center;
    color: whitesmoke;

}
/* setting size of exhibit picture */
.projects img{
    max-width: 500px;
}

.projects{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: black;
    text-align: center;
    color: white;
    padding: 3%;
}

.projects img{
    size-adjust: 50%;
}

.aside {

    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 3%;
    color: whitesmoke;
    background-color: red;
}

.footer {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    color: aliceblue;
   
}

body {
    background-color: black;
}

/* allows elements to chage as page is resized */
@media screen and (max-width: 500px) {
    .nav {  
      flex-direction: column;
    }

    .aside {
        background-color: blue;
    }
}
